<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/app.css">
  <link rel="icon" href="../public/images/pato.gif" type="image/gif">
  <link rel="shortcut icon" href="../public/images/pato.gif" type="image/gif">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <script defer src="../public/js/perfil.js"></script>
  <title>Daniel Roman | Perfil</title>
</head>
<body class="min-h-screen">
    <a href="../index.html">
      <ion-icon name="arrow-back-circle-sharp" class="fixed top-5 left-5 md:top-14 md:left-14 text-slate-700"></ion-icon>
    </a>
  <main>
    <section class="md:h-screen bg-slate-300 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 p-16">
      <div class="flex justify-center flex-col lg:px-30 md:px-16 space-y-20">
        <h2 class="text-4xl lg:text-7xl md:text-5xl font-bold titulo text-gray-800">Acerca de mí</h2>
        <p class=" texto text-gray-800 lg:text-xl md:text-lg text-lg">Ingeniero de sistemas en proceso, con experiencia en desarrollo de aplicaciones web, de escritorio y videojuegos. Me encantaría poder desarrollar mis habilidades de programación, pensamiento crítico, creativo y resolución de problemas para ayudar a impactar a través de su empresa de manera positiva a sus clientes; desarrollando e implementado soluciones útiles y que estéticamente tengan un buen aspecto.</p>
      </div>
      <div class="flex items-center justify-center pt-14 ">
        <div class="imagen-perfil"></div>
      </div>
    </section>
    <section class="md:h-screen py-10 bg-slate-200 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 justify-center items-center px-20">
      <div class="flex flex-col justify-center lg:px-15 md:px-10">
        <h2 class="text-4xl lg:text-7xl md:text-5xl font-bold titulo text-gray-800 ">Experiencia & </h2><span class="text-4xl lg:text-7xl md:text-5xl font-bold titulo text-gray-800">Educación</span>
      </div>
      
      <div class="grid grid-cols-3 text-slate-800 texto font-bold text-xl space-y-5">
        <div class="col-span-1 space-y-5 mt-5">2023</div>
        <div class="col-span-2">
          <div class="flex flex-col space-y-2">
            <h3 class="text-xl md:text-3xl font-extrabold">Practicante Universitario</h3>
            <p class="text-lg font-semibold ">Redeban SA</p>
            <p class="text-base font-normal">Realice análisis y recopilación satisfactoria de fuentes de datos.  Materialice los datos y los desplegue a través de interfaces interactivas para la inteligencia de negocio a través de PowerBI.</p>
          </div>
        </div>
        <div class="col-span-1 space-y-5">2019 - 2022</div>
        <div class="col-span-2">
          <div class="flex flex-col space-y-2">
            <h3 class="md:text-3xl font-bold">Asistente Comercial</h3>
            <p class="text-lg">Hidroconsulting SAS</p>
            <p class="text-base font-normal">Me comunique de manera efectiva con los clientes, proveedores y colaboradores. Asistí de manera técnica en la selección de equipos especializados y diligencie, envíe y realice seguimiento a cotizaciones.</p>
          </div>
        </div>
        <div class="col-span-1 space-y-5">2019 - Ahora</div>
        <div class="col-span-2">
          <div class="flex flex-col space-y-2">
            <h3 class="text-xl md:text-3xl font-bold">Ingeniero de Sistemas</h3>
            <p class="text-lg">Universidad Ean</p>
          </div>
        </div>
      </div>
      
    </section>
    <section class="flex justify-center flex-col items-center bg-slate-200 w-full pt-10">
      <div id="btnCursos" class="bg-slate-700 h-12 pl-2 w-50 text-white flex justify-center items-center align-top rounded-t-xl hover:cursor-pointer" onclick="mostrarCursos()">
        <p class="text-white texto text-xl">Ver Cursos<p class="text-white"><ion-icon name="arrow-down-outline"></ion-icon></p>
      </div>
      <div id="cursos" class="cursos flex-col justify-center items-center space-y-5 bg-slate-700 w-full py-20">
        <div class="grid grid-cols-3 text-slate-300 texto font-bold text-xl space-y-5">
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/8</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">Responsive Web Designed</h3>
              <p class="text-lg font-thin">FreeCodeCamp</p>
            </div>
          </div>
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/9</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">.NET Esencial</h3>
              <p class="text-lg font-thin">LinkedIn</p>
            </div>
          </div>
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/9</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">Introducing ASP.NET Core</h3>
              <p class="text-lg font-thin">LinkedIn</p>
            </div>
          </div>
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/10</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">C# and .NET Essential Training</h3>
              <p class="text-lg font-thin">LinkedIn</p>
            </div>
          </div>
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/10</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">Fundamentos del desarrollo web: Full Stack o Front-end</h3>
              <p class="text-lg font-thin">LinkedIn</p>
            </div>
          </div>
          <div class="col-span-1 space-y-5 mt-5 text-right">2022/12</div>
          <div class="col-span-2">
            <div class="flex flex-col space-y-2 pl-10">
              <h3 class="text-xl md:text-2xl font-extrabold">ASP.NET Core: Razor Pages</h3>
              <p class="text-lg font-thin">LinkedIn</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-slate-300 md:h-screen flex items-center md:items-start justify-center flex-col py-10 md:px-24">
      <div class="flex flex-col px-10 pb-24 md:pb-48 text-4xl lg:text-7xl md:text-5xl font-bold titulo text-gray-800">
        <h2>Habilidades & </h2><span>Competencias</span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3 w-full">
        <div class="flex flex-col justify-center items-center pb-12">
          <h3 class="texto text-2xl pb-10 font-bold">Habilidades técnicas</h3>
          <p class="texto">NodeJS, MySQL, Express, TailwindCSS</p>
          <div class="relative -left-36">
            <div class="absolute border-4 border-gray-500 w-72 "></div>
            <div class="absolute border-4 border-gray-800 w-56"></div>
          </div>
          <p class="texto pt-10">HTML, CSS y JavaScript</p>
          <div class="relative -left-36">
            <div class="absolute border-4 border-gray-500 w-72 "></div>
            <div class="absolute border-4 border-gray-800 w-60"></div>
          </div>
          <p class="texto pt-10">ASP.NET Core, Blazor, SQLServer, Bootstrap 5</p>
          <div class="relative -left-36">
            <div class="absolute border-4 border-gray-500 w-72"></div>
            <div class="absolute border-4 border-gray-800 w-52"></div>
          </div>
        </div>
        <div class="flex items-center justify-center flex-col">
          <h3 class="texto text-2xl font-bold">Lenguajes</h3>
          <div class="flex flex-col justify-center items-center pb-12">
            <p class="texto pt-10">Español: Nativo</p>
              <div class="relative -left-36">
                <div class="absolute border-4 border-gray-800 w-72"></div>
              </div>
            <p class="texto pt-10">Ingles: B2 IELTS</p>
            <div class="relative -left-36 ">
              <div class="absolute border-4 border-gray-500 w-72"></div>
              <div class="absolute border-4 border-gray-800 w-56"></div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <footer class="grid grid-cols-1 md:grid-cols-2 w-full h-full bg-black items-center">
      <div class="flex justify-center items-center">
        <div class="imagen-perfil-1"></div>
      </div>
      <div class="flex flex-col w-6/12 text-white texto text-xl space-y-4 px-10">
        <h3 class="text-5xl titulo pb-24">Contáctame</h3>
        <p class="text-3xl titulo">Daniel Román</p>
        <p class="pb-24">danielroman.05111@gmail.com</p>
        <h4>Conecta conmigo</h4>
        <div class="flex gap-5">
          <a href="https://www.instagram.com/daniiel._.roman/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.linkedin.com/in/danielroman-/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="https://www.facebook.com/danielroman.lol/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="https://wa.me/573506192178" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://github.com/DanielRoman11/" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </div>
      </div>
    </footer>
  </main>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>